# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite
*.pkl

# Local settings
*.local
.settings/
.env
.env.*
!.env.exemplo
.idea/

# Media and static files
/media/
staticfiles/
static/
*.media

*/migrations/__pycache__/
*/__pychace__/


# Docker
docker-compose.override.yml
.docker/
.dockerignore